#publication_date {
  font-style: italic;
}

p {
  padding: .5rem;
}

#banner {
  background-color: #FB8C00;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#banner > ul {
  list-style: none;
  padding: 0 1rem 0 .5rem;
  display: inline-flex;
}

#banner > ul > li {
  padding: 0 .5rem;
}

#banner > ul > li > a:hover {
  background-color: #FFA726;
}

#banner > ul > li > a {
  text-decoration: none;
  padding: .2rem;
  border-radius: 8px;
  border: 15px;
}

#me {
  border-radius: 231px;
  border: 15px;
  padding: .5rem;
  max-width: 6rem;
  margin: 0;
  margin-right: 1rem;
}

.body {
  margin: 1rem;
}

.articles > ul {
  list-style: none;
}

.articles > ul > li {
  margin: 1rem 0;
}

.articles > ul > li > a {
  text-decoration: none;
  color: #E65100;
  font-weight: bold;
}

.date {
  color: #9E9E9E;
}

#name {
  font-weight: bolder;
  display: inline-flex;
  align-items: center;
  margin: 0;
  text-decoration: none;
  color: black;
  border-radius: 8px;
  border: 15px;
  padding: 0 .5rem;
}

#name:hover {
  background-color: #FFA726;
}

figure {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

figure > figcaption {
  width: 100%;
  text-align: center;
}

img, video {
  max-width: 90%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  margin: auto;
}

hr {
  max-width: 30%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

body {
    margin: 0;
    font-family: monospace, sans-serif;
    margin-bottom: 5rem;
}

@media (max-width : 450px) {
    li {
        padding: 0.5rem;
    }
}

/* Mobile */
@media (min-width : 450px) {
    html {
      font-size: 24px;
    }
    li {
        padding: 1rem;
    }
}

blockquote {
  padding: 1rem;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 80%;
  color: #4c566a;
  padding: .1rem;
}

pre {
    background: #FFF3E0 !important;
    padding: 0.5rem;
    white-space: pre-wrap;
    border: 1px solid grey;
    margin-bottom: 0;
    min-width: 30%;
}

code {
    background: #FFF3E0 !important;
    line-height: 1.6;
    padding: 0 .2rem !important;
    word-wrap: break-word;
}

table {
    border-collapse: collapse;
}

figcaption {
  font-style: italic;
  font-weight: lighter;
  opacity: .8;
}

td, th {
    border: 1px solid black;
    padding: 0.5rem
}

th {
    background: rgb(255,250,240);
}

h1 {
    margin: 3rem 0 3rem 0;
}

h2, h3, h4, h5, h6 {
    margin: 3rem 0 1rem 0;
}

p:has(img):has(em) {
  padding-bottom: 2.5rem;
}

#donate {
  margin-top: 8rem;
  text-align: center;
}
