#banner {
  background-color: #FB8C00;
  padding: .5rem 2rem;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#banner > ul {
  list-style: none;
}

#banner > ul > li > a:hover {
  background-color: #FFA726;
}

#banner > ul > li > a {
  text-decoration: none;
  padding: .2rem;
  border-radius: 8px;
  border: 15px;
}

#me {
  border-radius: 231px;
  border: 15px;
  padding: .5rem;
  max-width: 6rem;
  margin: 0;
  margin-right: 1rem;
}

.body {
  margin: 1rem;
}

.articles > ul {
  list-style: none;
}

.articles > ul > li > a {
  text-decoration: none;
  color: #E65100;
  font-weight: bold;
}

.date {
  color: #9E9E9E;
}

#banner > ul {
  flex-grow: 1;
  max-width: 10rem;
  /* list-style: none; */
}

#banner > ul :nth-child(2) {
  /* list-style-image: url("github-mark.png"); */
}

#name {
  font-weight: bolder;
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  margin: 0;
  text-decoration: none;
  color: black;
  border-radius: 8px;
  border: 15px;
  padding: .2rem;
}

#name:hover {
  background-color: #FFA726;
}

img {
  margin: auto;
  display: block;
  max-width: 95%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

hr {
  max-width: 30%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

body {
    margin: 0;
    font-family: monospace, sans-serif;
    font-size: 1.1rem;
    margin-bottom: 5rem;
}

li {
    margin-bottom: 0.5rem;
}

blockquote {
  padding: 1rem;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 80%;
  color: #4c566a;
  padding: .1rem;
}

pre {
    background: #FFF3E0 !important;
    padding: 0.5rem;
    white-space: pre-wrap;
    border: 1px solid grey;
    margin-bottom: 0;
    min-width: 30%;
}

code {
    font-size: 1.2rem;
    background: #FFF3E0 !important;
    line-height: 1.6;
    padding: 0 !important;
}

td, th {
    border: 1px solid black;
    padding: 0.5rem
}

th {
    background: rgb(255,250,240);
}

h1, h2, h3, h4, h5, h6 {
    margin: 3rem 0 1rem 0;
}

p:has(img):has(em) {
  padding-bottom: 2.5rem;
}
